streamlit
sounddevice
librosa
torch
torchaudio
faster_whisper
transformers
spotipy
python-dotenv
pydub
numpy
libportaudio2                                                                                                      │
portaudio19-dev                                                                                                    │
ffmpeg 